<div class="login-form col-md-6">

    
        <div class="row--corrected">
            <form class="login-form__form offset-md-3 col-md-6 row" >
                <h4>    LOGIN</h4>

                
                
                <p class="col-md-12">Username:<input [(ngModel)]="username" name="username" placeholder="Username (required)"></p>
                <p class="col-md-12">Password:<input [(ngModel)]="password" name="password" placeholder="Password (required)"></p>
    
                <button (click)="showSignUp()" type="button">Sign Up</button>
                <button (click)="login()" type="button">Login</button>
            </form>
            <div class="offset-3"></div>
        </div>
        <p class="error"> {{ error }} </p>
        <sign-up *ngIf="signUpIsSelected"></sign-up>
    </div>