<table class="table table-striped col-lg-12 display_users__table">
    <thead>
        <tr class="row">
            <th class="col-lg-2">User Number</th>
            <th class="col-lg-3">Name</th>
            <th class="col-lg-3">Surname</th>
            <th class="col-lg-3">Business</th>
            <th class="col-lg-1">Show data</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of listOfUsers; index as i" class="row">
            <td class="col-lg-2">{{user.userNumber}}</td>
            <td class="col-lg-3">{{user.name}}</td>
            <td class="col-lg-3">{{user.surname}}</td>
            <td class="col-lg-3">{{user.business}}</td>
            <td class="col-lg-1"> <button (click)="showUserData(i)">Show</button></td>
            <div class="col-lg-12" *ngIf="whoIsDisplayed !== -1 && whoIsDisplayed === i">

                <p><b>Position:</b> {{listOfUsers[i].typeOfUser }}, {{listOfUsers[i].business}}</p>
                <p><b>Location:</b> {{listOfUsers[i].city }}, {{listOfUsers[i].country}}</p>
                <p><b>Phone: </b> {{listOfUsers[i].phoneNumber}}</p>
                <button>Create ticket</button>
                <button>See all tickets</button>

            </div>
        </tr>

    </tbody>
</table>