<form class="create-tickets__form" #myNewTicket="ngForm" (submit)="createTicket(myNewTicket.value)">
        <input disabled class="col-md-6 create-persons__input" 
                        type="text" 
                        placeholder="search by username">  
        <input disabled class="col-md-6 create-tickets__input" 
                        type="text" 
                        placeholder="userNumber"
                        name="userNumber"
                        [(ngModel)] = "userNumber" >
        <input disabled class="col-md-6 create-persons__input" 
                        type="text"    
                        name="name"
                        [(ngModel)] = "name"   
                        placeholder="name">
        <input disabled class="col-md-6 create-persons__input" 
                        type="text"    
                        name="surname"
                        [(ngModel)] = "surname"    
                        placeholder="surname">
        <input required class="col-md-6 create-tickets__input" type="text" placeholder="business">
        <input required class="col-md-6 create-tickets__input" type="text" placeholder="country">
        <input required class="col-md-6 create-tickets__input" type="text" placeholder="city">
        <input required class="col-md-6 create-tickets__input" type="text" placeholder="job">
        <input required class="col-md-6 create-tickets__input" type="text" placeholder="phoneNumber">
        <textarea></textarea>
        
        <div class="col-md-12">
            <button class="col-md-4" type="button">Reset form</button>
            <button class="col-md-4" type="button"  (click)="collapse()">Cancel</button>
            <button class="col-md-4" type="submit">Create ticket</button>
        </div>
    </form>