
<form class="create-persons__form" #myNewPerson="ngForm" (submit)="createPerson(myNewPerson.value)">
      
    <input required 
            class="col-md-6 create-persons__input" 
            type="text"    
            name="userNumber"
            [(ngModel)] = "userNumber" 
            placeholder="userNumber">
    <input required 
            class="col-md-6 create-persons__input" 
            type="text"    
            name="name"
            [(ngModel)] = "name"   
            placeholder="name">
    <input required 
            class="col-md-6 create-persons__input" 
            type="text"    
            name="surname"
            [(ngModel)] = "surname"    
            placeholder="surname">
    <input required 
            class="col-md-6 create-persons__input" 
            type="text"    
            name="business"
            [(ngModel)] = "business"   
            placeholder="business">
    <input required 
            class="col-md-6 create-persons__input" 
            type="text"    
            name="country"
            [(ngModel)] = "country"    
            placeholder="country">
    <input required 
            class="col-md-6 create-persons__input" 
            type="text"    
            name="city"
            [(ngModel)] = "city"   
            placeholder="city">
    <input required 
            class="col-md-6 create-persons__input" 
            type="text"    
            name="job"
            [(ngModel)] = "job"    
            placeholder="job">
    <input required 
            class="col-md-6 create-persons__input" 
            type="text"    
            name="phoneNumber"
            [(ngModel)] = "phoneNumber"    
            placeholder="phoneNumber">
    
    
    <div class="col-md-12">
        <button  type="reset" (click)="resetForm()">Reset form</button>
        <button  type="button"  (click)="collapse()">Cancel</button>
        <button  type="submit" >Create user</button>
    </div>
</form>