.app{

  &__header{
    background-color: #5f9ea0;
    height: 45px;
    color: white;
  }

  &__footer{
    border: 1px solid orange;
  }

  &__screen{
    min-height: 530px;
    max-height: 1000px;
    border: 1px solid green;
  }
}