<div class="access">
    <div class="row--corrected">
        <form class="access__form offset-md-3 col-md-6" *ngIf="accessIsClicked===false">
            <p>Username:<input></p>
            <p>Password:<input></p>

            <button  type="button">Sign Up</button>
            <button (click)="clickAccess()" type="button">Login</button>
        </form>
        <div class="offset-3"></div>
    </div>
</div>


<div  *ngIf="accessIsClicked===true">



    <div class="row--corrected">
        <label class="col-md-12"> Managing {{ currentlyManaging }}
            <button (click)="clickUsers()">Manage {{ currentlyNotManaging }} </button>
        </label>
    </div>


    <div class="row--corrected">
        <div class="access__managers col-md-6">
            <manageusers *ngIf="accessIsClicked===true && currentlyManaging==='users'" 
                        class="manage-users"></manageusers>
            <managetickets *ngIf="accessIsClicked===true && currentlyManaging==='tickets'" 
                        class="manage-tickets"></managetickets>
        </div>
    
        <div class="access__displayer col-md-6">
            <div>
                <display-users></display-users>
            </div>
            <div>
                <display-tickets></display-tickets>
            </div>
        </div>
    </div>

</div>