<div class="access">
    <div class="row ">
        <div class="offset-3"></div>
        <form class="access__form col-md-6" *ngIf="accessIsClicked===false">
            <p>Username:<input></p>
            <p>Password:<input></p>
            
            <button (click)="clickAccess()" type="button">Access</button>
        </form>
        <div class="offset-3"></div>
    </div>
</div>


<div class="row" *ngIf="accessIsClicked===true">
    <div class="managers col-md-6">
        <manageusers *ngIf="accessIsClicked===true"
                    class="col-md-12"></manageusers>
        <managetickets *ngIf="accessIsClicked===true"
                    class="col-md-12"></managetickets>
    </div>
    
    <div class="displayers col-md-6">
        <div>
            Users
        </div>
        <div>
            Tickets
        </div>
    </div>
</div>